article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #ff6602;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  line-height: normal;
  margin: 4px 0 0;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_justify {
  text-align: justify;
}

.text_nowrap {
  white-space: nowrap;
}

.bold, strong {
  font-weight: bold;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

body {
  margin: 0;
  line-height: 1.25;
  font-size: 12px;
  font-family: Arial, Helvetica, Tahoma;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

a, .content .content-area-inside .content-text-area center span, .content .close-content-area, .content .menu-footer-area-left .filter-btn, .content .menu-footer-area-left .tools-btn, .content .menu-footer-area .search-area input[type=text], .active-left {
  -webkit-transition: all 200ms linear 0s;
  -moz-transition: all 200ms linear 0s;
  -ms-transition: all 200ms linear 0s;
  -o-transition: all 200ms linear 0s;
  transition: all 200ms linear 0s;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #777;
}

hr {
  border-style: solid none none;
  border-color: #d4d4d4;
  margin: 15px 0;
}

hr.blue {
  border-width: 4px;
  border-color: #555;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.25;
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

header, footer, table {
  display: table;
  width: 100%;
}

article {
  position: relative;
}

.ratiobox_content iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

header, footer, .table {
  display: table;
  width: 100%;
}

ol, ul {
  padding: 0 0 0 25px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-bottom: 14px;
}

ol ol, ol ul, ul ol, ul ul {
  margin-top: 7px;
  margin-bottom: 0;
}

ol li, ul li {
  padding: 5px 0;
}

img {
  vertical-align: middle;
}

.full_width img {
  width: 100%;
}

.ratiobox.ratio_16_9:after {
  padding-top: 56.25%;
}

.ratiobox.ratio_4_3:after {
  padding-top: 75%;
}

.ratiobox.ratio_3_4:after {
  padding-top: 133%;
}

.ratiobox.ratio_9_16:after {
  padding-top: 178%;
}

.ratiobox {
  display: block;
  position: relative;
  overflow: hidden;
}

.ratiobox:after {
  content: "";
  display: block;
  padding-top: 100%;
  overflow: hidden;
}

.ratiobox_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
}

.box_img {
  display: inline-block;
  position: relative;
  width: 400px;
}

.box_img:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

.ratiobox_content {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Styling */
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  background-size: cover !important;
  background-position: center top;
}

.ratiobox_content img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.ratiobox_content span {
  font-weight: bold;
  font-size: 3em;
  display: block;
}

.lqd_img {
  width: 150%;
  height: 150%;
  background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  position: absolute;
  top: -25%;
  left: -25%;
  z-index: 0;
}

.pd0 {
  padding: 0px;
}

.pr0 {
  padding-right: 0px;
}

.pl0 {
  padding-left: 0px;
}

.pt0 {
  padding-top: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.mr0 {
  margin-right: 0px;
}

.ml0 {
  margin-left: 0px;
}

.mt0 {
  margin-top: 0px;
}

.m0 {
  margin: 0px;
}

.pd5 {
  padding: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mt5 {
  margin-top: 5px;
}

.m5 {
  margin: 5px;
}

.pd10 {
  padding: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mt10 {
  margin-top: 10px;
}

.m10 {
  margin: 10px;
}

.pd15 {
  padding: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pl15 {
  padding-left: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.mr15 {
  margin-right: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mt15 {
  margin-top: 15px;
}

.m15 {
  margin: 15px;
}

.pd20 {
  padding: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mt20 {
  margin-top: 20px;
}

.m20 {
  margin: 20px;
}

#map {
  position: relative !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

html, body {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  color: #4A4A4A;
  height: 100%;
  margin: 0;
  padding: 0;
}

.button-left-area {
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  z-index: 5;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 128, 0, 0.4);
  display: inline-block;
}

.button-left-area-other {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  z-index: 6;
  background-color: rgba(255, 0, 0, 0.4);
  width: 80px;
  height: 80px;
  left: 50.5%;
  top: 50.8%;
}

.container {
  position: relative;
}

.content {
  position: relative;
}

.content .head-logo-area {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  display: inline-block;
  z-index: 1;
}

.content .head-logo-area img {
  position: relative;
  top: 10px;
  left: 10px;
  height: 52px;
}

.content .content-area {
  position: fixed;
  left: -100%;
  top: 0;
  width: 30%;
  min-width: 500px;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  height: calc(100vh - 60px);
  z-index: 7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content .content-area-inside {
  width: 100%;
  min-width: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  height: calc(100vh - 60px);
  overflow: scroll;
  padding: 15px;
}

.content .content-area-inside .image-top {
  width: 106%;
  margin: -15px -15px 15px -15px;
}

.content .content-area-inside .image-top.image-top-2 {
  height: 100px;
}

.content .content-area-inside .content-text-area {
  width: 100%;
  min-width: 500px;
  background-color: white;
  height: calc(100vh - 60px);
  overflow: scroll;
  padding: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.content .content-area-inside .content-text-area h3 {
  border-bottom: solid 1px #FF6602;
  padding-bottom: 10px;
}

.content .content-area-inside .content-text-area ul {
  margin: 0;
  padding: 0;
}

.content .content-area-inside .content-text-area ul li {
  list-style: none;
  padding: 15px;
  font-size: 1.1em;
  line-height: 150%;
}

.content .content-area-inside .content-text-area ul li span {
  font-weight: bold;
  color: #000;
  display: inline-block;
  margin-right: 10px;
}

.content .content-area-inside .content-text-area ul li:nth-child(odd) {
  background: #DAE7FF;
}

.content .content-area-inside .content-text-area center {
  margin: 10px 0 15px;
}

.content .content-area-inside .content-text-area center span {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 10px;
  background: red;
  font-size: 1em;
  text-align: center;
  width: 120px;
  text-transform: uppercase;
}

.content .content-area-inside .content-text-area center span:hover {
  opacity: 0.7;
}

.content .close-content-area {
  position: absolute;
  top: 0;
  right: -42px;
  background: red;
  border-color: red;
  color: #fff;
  font-size: 35px;
  /* width: 34px; */
  height: 40px;
  text-align: -webkit-center;
  padding: 0px 10px;
  cursor: pointer;
}

.content .close-content-area span {
  transform: rotate(45deg);
  display: inline-block;
  position: relative;
  top: -4px;
}

.content .close-content-area:hover {
  background: rgba(238, 238, 238, 0.8);
  border: solid 1px #eee;
  color: #4a4a4a;
}

.content .inside-other h2, .content .filter-area h2 {
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: solid 2px #ff6602;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.content .inside-other span, .content .filter-area span {
  display: block;
  margin-bottom: 10px;
}

.content .inside-other span.cta-title, .content .filter-area span.cta-title {
  font-size: 1.3em;
  font-weight: bold;
}

.content .inside-other span.cta-info, .content .filter-area span.cta-info {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.content .inside-other span a, .content .filter-area span a {
  color: #295cda;
}

.content .inside-other span i, .content .filter-area span i {
  font-size: 0.9em;
  color: rgba(74, 74, 74, 0.8);
  display: inline-block;
  padding: 6px 0 0 32px;
}

.content .inside-other span .container, .content .filter-area span .container {
  margin-bottom: 25px;
  display: block;
}

.content .inside-other span .container input, .content .filter-area span .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.content .inside-other span .rdtr-chk, .content .filter-area span .rdtr-chk {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-right: 10px;
}

.content .inside-other span .container:hover input ~ .rdtr-chk, .content .filter-area span .container:hover input ~ .rdtr-chk {
  background-color: #ccc;
}

.content .inside-other span .container input:checked ~ .rdtr-chk, .content .filter-area span .container input:checked ~ .rdtr-chk {
  background-color: #FF6602;
}

.content .inside-other span .rdtr-chk:after, .content .filter-area span .rdtr-chk:after {
  content: "";
  position: absolute;
  display: none;
}

.content .inside-other span .container input:checked ~ .rdtr-chk:after, .content .filter-area span .container input:checked ~ .rdtr-chk:after {
  display: block;
}

.content .inside-other span .container .rdtr-chk:after, .content .filter-area span .container .rdtr-chk:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.content .inside-other .rs-range, .content .filter-area .rs-range {
  margin-top: 5px;
  width: 100%;
  -webkit-appearance: none;
}

.content .inside-other .rs-range:focus, .content .filter-area .rs-range:focus {
  outline: none;
}

.content .inside-other .rs-range::-webkit-slider-runnable-track, .content .filter-area .rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: none;
  background: #FF6602;
  border-radius: 0px;
  border: 0px solid #010101;
}

.content .inside-other .rs-range::-moz-range-track, .content .filter-area .rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #FF6602;
  border-radius: 0px;
  border: 0px solid #010101;
}

.content .inside-other .rs-range::-webkit-slider-thumb, .content .filter-area .rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #FF6602;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #ff6602;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.content .inside-other .rs-range::-moz-range-thumb, .content .filter-area .rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #FF6602;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  height: 20px;
  width: 22px;
  border-radius: 100%;
  background: #ff6602;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.content .inside-other .rs-range::-moz-focus-outer, .content .filter-area .rs-range::-moz-focus-outer {
  border: 0;
}

.content .inside-other .gallery-area a, .content .filter-area .gallery-area a {
  display: inline-block;
  float: left;
  width: calc(100% / 2 - 10px);
  height: auto;
  cursor: pointer;
}

.content .inside-other .gallery-area a:nth-child(odd), .content .filter-area .gallery-area a:nth-child(odd) {
  margin-right: 15px;
}

.content .inside-other .gallery-area .ratiobox, .content .filter-area .gallery-area .ratiobox {
  width: 100%;
}

.content .filter-area {
  position: fixed;
  bottom: 60px;
  height: 328px;
  left: -100%;
  width: 300px;
  z-index: 7;
  background: rgba(255, 255, 255, 0.96);
  -webkit-box-shadow: 5px 0 8px -2px #dadada;
  box-shadow: 5px 0 8px -2px #dadada;
  padding: 15px 20px;
}

.content .menu-footer-area {
  background: rgba(255, 102, 2, 0.5);
  width: 100%;
  height: 60px;
  display: block;
  position: fixed;
  padding: 10px 15px;
  bottom: 0;
  left: 0;
  z-index: 5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content .menu-footer-area-left {
  float: left;
  position: relative;
}

.content .menu-footer-area-left .filter-btn, .content .menu-footer-area-left .tools-btn {
  cursor: pointer;
  padding: 9px 0 10px;
  border-radius: 10px;
  background: #fff;
  font-size: 1em;
  float: left;
  text-align: center;
  width: 120px;
  margin-right: 10px;
  font-weight: bold;
}

.content .menu-footer-area-left .filter-btn:hover, .content .menu-footer-area-left .tools-btn:hover {
  background: #ff6200;
  color: #fff;
}

.content .menu-footer-area #search-desktop {
  float: left;
}

.content .menu-footer-area #search-area-mobile h2, .content .menu-footer-area #search-area-mobile span {
  display: none;
}

.content .menu-footer-area .tools-btn {
  display: none;
}

.content .menu-footer-area .search-area {
  float: left;
  position: relative;
}

.content .menu-footer-area .search-area input[type=text] {
  width: 200px;
  border-radius: 10px;
  border: 1px #ededed solid;
  padding: 7px 6px 8px 42px;
  background-image: url(../images/searchicon.png);
  background-position: 6px 6px;
  background-repeat: no-repeat;
  color: #4A4A4A;
}

.content .menu-footer-area .search-area input[type=text]:focus {
  width: 450px;
  background-image: url(../images/searchicon.png);
  background-position: 6px 6px;
  background-repeat: no-repeat;
}

.content .menu-footer-area .search-area button {
  width: 32px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  opacity: 0;
}

.content .menu-footer-area-right {
  float: right;
  position: relative;
  width: 50%;
}

.content .menu-footer-area-right .chosen-container {
  width: calc(100% / 3 - 10px) !important;
}

.content .menu-footer-area-right .chosen-container .chosen-drop {
  bottom: 100%;
  top: unset;
  border-radius: 4px 4px 0 0;
  width: 200px;
  left: calc(100% / 2 - 100px);
}

/*MODAL STYLE*/
.modal_box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 103;
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
}

.modal_box.anim .modal_dialog {
  transition: transform 0.3s ease-out 0s;
  transform: translate(0, 0);
}

.modal_dialog {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px auto;
  width: auto;
  max-width: 800px;
  transition: transform 0.3s ease-out 0s;
  transform: translate(0, 50px);
  height: 100%;
  min-height: calc(100% - 40px);
  max-height: calc(100% - 40px);
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal_content {
  padding: 15px;
  background: #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  border-radius: 4px;
  width: 400px;
  min-height: 100px;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0.75);
}

.modal_content.loaded {
  width: 100%;
  max-height: 100%;
  transform: scale(1);
}

.modal_body {
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.loaded .modal_body {
  opacity: 1;
}

.modal_close {
  display: block;
  position: absolute;
  top: -22px;
  right: 0px;
  background: white;
  color: #4a4a4a;
  font-size: 15px;
  height: 28px;
  /* border: solid 1px #eee; */
  text-align: -webkit-center;
  padding: 5px 10px;
  cursor: pointer;
}

.modal_close:hover {
  background: red;
  color: #fff;
}

.loaded .modal_close {
  opacity: 1;
}

.modal_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
  z-index: 9;
}

.modal_open {
  overflow: hidden;
}

.modal_open .modal_box {
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal_open .modal_overlay {
  opacity: 0.5;
}

.lds-ring {
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  width: 40px;
  height: 40px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 7px solid #3A73E0;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3A73E0 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active-left {
  left: 0 !important;
}

.gm-style .controls {
  font-size: 28px;
  /* this adjusts the size of all the controls */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 300;
  height: 1em;
  margin: 6px;
  text-align: center;
  user-select: none;
  padding: 2px;
  width: 1em;
  z-index: 3 !important;
}

.gm-style .controls button {
  border: 0;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}

.gm-style .controls button:hover {
  color: rgba(0, 0, 0, 0.9);
}

.gm-style .controls.zoom-control {
  display: flex;
  flex-direction: column;
  height: auto;
  bottom: 110px !important;
}

.gm-style .controls.zoom-control button {
  font: 0.85em Arial;
  margin: 1px;
  padding: 0;
}

.gm-style .controls .fullscreen-control {
  top: 0 !important;
  right: 0 !important;
  bottom: unset !important;
  z-index: 3 !important;
}

.gm-style .controls.maptype-control {
  display: flex;
  flex-direction: row;
  width: auto;
  bottom: 70px !important;
  right: 0 !important;
  top: unset !important;
  left: unset !important;
}

.gm-style .controls.maptype-control button {
  display: inline-block;
  font-size: 0.5em;
  margin: 0 1px;
  padding: 0 6px;
}

.gm-style .controls.maptype-control.maptype-control-is-map .maptype-control-map {
  font-weight: 700;
}

.gm-style .controls.maptype-control.maptype-control-is-satellite .maptype-control-satellite {
  font-weight: 700;
}

.gm-style .controls.fullscreen-control button {
  display: block;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon {
  border-style: solid;
  height: 0.25em;
  position: absolute;
  width: 0.25em;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-top-left {
  border-width: 2px 0 0 2px;
  left: 0.1em;
  top: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-top-left {
  border-width: 0 2px 2px 0;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-top-right {
  border-width: 2px 2px 0 0;
  right: 0.1em;
  top: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-top-right {
  border-width: 0 0 2px 2px;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-bottom-left {
  border-width: 0 0 2px 2px;
  left: 0.1em;
  bottom: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-bottom-left {
  border-width: 2px 2px 0 0;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-bottom-right {
  border-width: 0 2px 2px 0;
  right: 0.1em;
  bottom: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-bottom-right {
  border-width: 2px 0 0 2px;
}

@media only screen and (max-width: 1024px) {
  .content .menu-footer-area-left .search-area input[type=text] {
    width: 180px;
  }
  .content .menu-footer-area-left .search-area input[type=text]:focus {
    width: 230px;
  }
}

@media only screen and (max-width: 767px) {
  .content {
    width: 100%;
  }
  .content .content-area {
    left: -200%;
    width: 100%;
    min-width: 100%;
  }
  .content .content-area-inside {
    min-width: 100%;
  }
  .content .content-area-inside .inside-other {
    min-width: 100%;
  }
  .content .close-content-area {
    right: 0;
    z-index: 10;
  }
  .content .menu-footer-area {
    z-index: 6;
    padding: 10px;
  }
  .content .menu-footer-area-left {
    width: 100%;
  }
  .content .menu-footer-area-left .filter-btn, .content .menu-footer-area-left .tools-btn {
    width: calc(50% - 5px);
    float: left;
    margin: 0;
  }
  .content .menu-footer-area-left .tools-btn {
    margin-left: 10px;
    display: inline-block;
  }
  .content .menu-footer-area .search-area {
    float: unset;
    margin: 10px 0;
  }
  .content .menu-footer-area .search-area input[type=text] {
    width: 100%;
    border: 1px #929292 solid;
  }
  .content .menu-footer-area .search-area input[type=text]:focus {
    width: 100%;
  }
  .content .menu-footer-area .mobile-menu-area {
    position: absolute;
    left: 200%;
    bottom: 60px;
    width: 100%;
    height: 300px;
    background: #fff;
    z-index: 10;
    padding: 20px 15px 15px;
  }
  .content .menu-footer-area .mobile-menu-area .menu-footer-area-right {
    width: 100%;
  }
  .content .menu-footer-area .mobile-menu-area .menu-footer-area-right .chosen-container {
    width: 100% !important;
    cursor: pointer;
    margin: 15px 0 0;
  }
  .content .menu-footer-area .mobile-menu-area .menu-footer-area-right .chosen-container .chosen-drop {
    width: 100%;
    left: 0;
  }
  .content .menu-footer-area .mobile-menu-area #search-area-mobile .close-tools {
    display: block;
    right: -15px;
    top: -20px;
  }
  .content .menu-footer-area .mobile-menu-area #search-area-mobile .close-tools span {
    display: block;
  }
  .content .menu-footer-area .mobile-menu-area #search-area-mobile h2 {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: solid 2px #ff6602;
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: block;
  }
  .content .filter-area {
    width: 100%;
  }
  .button-left-area {
    left: calc(100% / 2 - 50px);
    top: 20%;
  }
  .button-left-area-other {
    width: 50px;
    height: 77px;
    left: calc(100% / 2 - 25px);
    top: 21%;
  }
  .active-left {
    left: 0 !important;
  }
}
