// =============================================================================
// Normalize.scss based on Nicolas Gallagher and Jonathan Neal's
// normalize.css v2.1.3 | MIT License | git.io/normalize
// =============================================================================

// =============================================================================
// Normalize.scss settings
// =============================================================================


// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy_support_for_ie: false !default; // Used also in Compass


// Set the default font family here so you don't have to override it later
$normalized_font_family: sans-serif !default;

$normalize_headings: true !default;

$h1_font_size: 2em !default;
$h2_font_size: 1.5em !default;
$h3_font_size: 1.17em !default;
$h4_font_size: 1em !default;
$h5_font_size: 0.83em !default;
$h6_font_size: 0.75em !default;

$h1_margin: 0.67em 0 !default;
$h2_margin: 0.83em 0 !default;
$h3_margin: 1em 0 !default;
$h4_margin: 1.33em 0 !default;
$h5_margin: 1.67em 0 !default;
$h6_margin: 2.33em 0 !default;

$background: #fff !default;
$color: rgb(255,102,2) !default;

// =============================================================================
// HTML5 display definitions
// =============================================================================

// Corrects block display not defined in IE6/7/8/9 & FF3

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

// Corrects inline-block display not defined in IE6/7/8/9 & FF3

audio,
canvas,
video {
    display: inline-block;
    @if $legacy_support_for_ie {
        *display: inline;
        *zoom: 1;
    }
}

// 1. Prevents modern browsers from displaying 'audio' without controls
// 2. Remove excess height in iOS5 devices

audio:not([controls]) {
    display: none; // 1
    height: 0; // 2
}

//
// Address `[hidden]` styling not present in IE 8/9.
// Hide the `template` element in IE, Safari, and Firefox < 22.
//

[hidden], template {
    display: none;
}

// =============================================================================
// Base
// =============================================================================

// 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
//    http://clagnut.com/blog/348/#c790
// 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
//    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/

html {
    @if $legacy_support_for_ie {
        font-size: 100%; // 1
    }
		background: $background;
		color: $color;
    -webkit-text-size-adjust: 100%; // 2
    -ms-text-size-adjust: 100%; // 2
}

// Addresses font-family inconsistency between 'textarea' and other form elements.

html,
button,
input,
select,
textarea {
    font-family: $normalized_font_family;
}

// Addresses margins handled incorrectly in IE6/7

body {
    margin: 0;
}

// =============================================================================
// Links
// =============================================================================

// 1. Remove the gray background color from active links in IE 10.
// 2. Addresses outline displayed oddly in Chrome
// 3. Improves readability when focused and also mouse hovered in all browsers
//    people.opera.com/patrickl/experiments/keyboard/test

a {
    // 1
    
    background: transparent;

    // 2

    &:focus {
        outline: thin dotted;
    }

    // 3

    &:hover,
    &:active {
        outline: 0;
    }
}

// =============================================================================
// Typography
// =============================================================================

// Addresses font sizes and margins set differently in IE6/7
// Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5

@if $normalize_headings == true {
    h1 {
        font-size: $h1_font_size;
        margin: $h1_margin;
    }

    h2 {
        font-size: $h2_font_size;
        margin: $h2_margin;
    }

    h3 {
        font-size: $h3_font_size;
        margin: $h3_margin;
    }

    h4 {
        font-size: $h4_font_size;
        margin: $h4_margin;
    }

    h5 {
        font-size: $h5_font_size;
        margin: $h5_margin;
    }

    h6 {
        font-size: $h6_font_size;
        margin: $h6_margin;
    }
}

// Addresses styling not present in IE 8/9, S5, Chrome

abbr[title] {
    border-bottom: 1px dotted;
}

// Addresses style set to 'bolder' in FF3+, S4/5, Chrome

b,
strong {
    font-weight: bold;
}

@if $legacy_support_for_ie {
    blockquote {
        margin: 1em 40px;
    }
}

// Addresses styling not present in S5, Chrome

dfn {
    font-style: italic;
}

// Addresses styling not present in IE6/7/8/9

mark {
    background: #ff0;
    color: #000;
}

// Addresses margins set differently in IE6/7
@if $legacy_support_for_ie {
    p,
    pre {
        margin: 1em 0;
    }
}

// Corrects font family set oddly in IE6, S4/5, Chrome
// en.wikipedia.org/wiki/User:Davidgothberg/Test59

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    @if $legacy_support_for_ie {
        _font-family: 'courier new', monospace;
    }
    font-size: 1em;
}

// Improves readability of pre-formatted text in all browsers

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

// Set consistent quote types.

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

// 1. Addresses CSS quotes not supported in IE6/7
// 2. Addresses quote property not supported in S4

// 1
@if $legacy_support_for_ie {
    q {
        quotes: none;
    }
}

// 2
q {
    &:before, 
    &:after {
        content: '';
        content: none;	
    }
}

// Address inconsistent and variable font size in all browsers.

small {
    font-size: 80%;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// =============================================================================
// Lists
// =============================================================================

// Addresses margins set differently in IE6/7
@if $legacy_support_for_ie {
    dl,
    menu,
    ol,
    ul {
        margin: 1em 0;
    }
}

@if $legacy_support_for_ie {
    dd {
        margin: 0 0 0 40px;
    }
}

// Addresses paddings set differently in IE6/7
@if $legacy_support_for_ie {
    menu,
    ol,
    ul {
        padding: 0 0 0 40px;
    }
}

// Corrects list images handled incorrectly in IE7

nav {
    ul,
    ol {
        @if $legacy_support_for_ie {
            list-style-image: none;
        }
    }
}

// =============================================================================
// Embedded content
// =============================================================================

// 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
// 2. Improves image quality when scaled in IE7
//    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/

img {
    border: 0; // 1
    @if $legacy_support_for_ie {
        -ms-interpolation-mode: bicubic; // 2
    }
}

// Corrects overflow displayed oddly in IE9

svg:not(:root) {
    overflow: hidden;
}

// =============================================================================
// Figures
// =============================================================================

// Addresses margin not present in IE6/7/8/9, S5, O11

figure {
    margin: 0;
}

// =============================================================================
// Forms
// =============================================================================

// Corrects margin displayed oddly in IE6/7
@if $legacy_support_for_ie {
    form {
        margin: 0;
    }
}

// Define consistent border, margin, and padding

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

// 1. Corrects color not being inherited in IE6/7/8/9
// 2. Remove padding so people aren't caught out if they zero out fieldsets.
// 3. Corrects text not wrapping in FF3
// 4. Corrects alignment displayed oddly in IE6/7

legend {
    border: 0; // 1
    padding: 0; // 2
    white-space: normal; // 3
    @if $legacy_support_for_ie {
        *margin-left: -7px; // 4
    }
}

// 1. Correct font family not being inherited in all browsers.
// 2. Corrects font size not being inherited in all browsers
// 3. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
// 4. Improves appearance and consistency in all browsers

button,
input,
select,
textarea {
    font-family: inherit; // 1
    font-size: 100%; // 2
    margin: 0; // 3
    vertical-align: baseline; // 4
    @if $legacy_support_for_ie {
        *vertical-align: middle; // 4
    }
}

// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet

button, input {
    line-height: normal;
}

// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
// Correct `select` style inheritance in Firefox 4+ and Opera.

button,
select {
    text-transform: none;
}

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls
// 2. Corrects inability to style clickable 'input' types in iOS
// 3. Improves usability and consistency of cursor style between image-type
//    'input' and others
// 4. Removes inner spacing in IE7 without affecting normal text inputs
//    Known issue: inner spacing remains in IE6

button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; // 2
    cursor: pointer; // 3
    @if $legacy_support_for_ie {
        *overflow: visible;  // 4
    }
}

// Re-set default cursor for disabled elements

button[disabled],
input[disabled] {
    cursor: default;
}

// Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/

button, input {
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

// 1. Removes default vertical scrollbar in IE6/7/8/9
// 2. Improves readability and alignment in all browsers

textarea {
    overflow: auto; // 1
    vertical-align: top; // 2
}

// =============================================================================
// Tables
// =============================================================================

// Remove most spacing between table cells

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    // 1. Addresses appearance set to searchfield in S5, Chrome
    // 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
    &[type="search"] {
        -webkit-appearance: textfield; // 1
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box; // 2
        box-sizing: content-box;
        
    	// Remove inner padding and search cancel button in Safari 5 and Chrome
        // on OS X.
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
    
    // 1. Address box sizing set to `content-box` in IE 8/9/10.
    // 2. Remove excess padding in IE 8/9/10.
    // 3. Removes excess padding in IE7
    //    Known issue: excess padding remains in IE6
    &[type="checkbox"],
    &[type="radio"] {
    	box-sizing: border-box; // 1
    	padding: 0; // 2
        line-height: normal;
        margin: 4px 0 0;
    	@if $legacy_support_for_ie {
        	*height: 13px; // 3
        	*width: 13px; // 3
    	}
    }
}
$value_list: (
  0     0px,
  5     5px,
  10    10px,
  15    15px,
  20    20px
);
//--------------------------------------------------------------------------------
//WEBKIT TOOLS
//--------------------------------------------------------------------------------
@mixin rounded-corner($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin blur-radius($radius) {
  -webkit-filter: blur($radius);
     -moz-filter: blur($radius);
       -o-filter: blur($radius);
      -ms-filter: blur($radius);
          filter: blur($radius);
}
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
     -moz-box-shadow: $args;
       -o-box-shadow: $args;
      -ms-box-shadow: $args;
          box-shadow: $args;
}
@mixin text-shadow($args...) {
  -webkit-text-shadow: $args;
     -moz-text-shadow: $args;
       -o-text-shadow: $args;
      -ms-text-shadow: $args;
          text-shadow: $args;
}
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}
@mixin transform($args...) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}
@mixin transform-origin($args...) {
  -webkit-transform-origin: $args;
     -moz-transform-origin: $args;
      -ms-transform-origin: $args;
       -o-transform-origin: $args;
          transform-origin: $args;
}
@mixin animation($args...) {
  -webkit-animation: $args;
     -moz-animation: $args;
      -ms-animation: $args;
       -o-animation: $args;
          animation: $args;
}
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

//--------------------------------------------------------------------------------
//BACKGROUND, OPACITY, AND GRADIENTS
//--------------------------------------------------------------------------------
@mixin linear-gradient(
  $start_color:#000000, 
  $opacity_start: 1, 
  $pos_start: 0%, 
  $end_color:#ffffff, 
  $opacity_end: 1, 
  $pos_end: 100%, 
  $direction_start: top, 
  $direction_end: bottom) {
  background: $start_color; /* Old browsers */
  background: -moz-linear-gradient($direction_start,  rgba($start_color, $opacity_start) $pos_start, rgba($end_color, $opacity_end) $pos_end); /* FF3.6+ */
  background: -webkit-linear-gradient($direction_start,  rgba($start_color, $opacity_start) $pos_start, rgba($end_color, $opacity_end) $pos_end); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to $direction_end,  rgba($start_color, $opacity_start) $pos_start, rgba($end_color, $opacity_end) $pos_end); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start_color', endColorstr='$end_color',GradientType=1 ); /* IE6-9 */
}
@mixin radial-gradient(
  $pos_rad: center, 
  $top_color:#000000, 
  $opacity_top: 1, 
  $pos_top: 100%, 
  $mid_color:#444444, 
  $opacity_mid: 1, 
  $pos_mid: 50%, 
  $bot_color:#ffffff, 
  $opacity_bot: 1, 
  $pos_bot: 0%) {
  background: $top_color; /* Old browsers */
  background: -moz-radial-gradient($pos_rad, ellipse cover, rgba($bot_color, $opacity_bot) $pos_bot, rgba($mid_color, $opacity_mid) $pos_mid, rgba($top_color, $opacity_top) $pos_top); /* FF3.6+ */
  background: -webkit-radial-gradient($pos_rad, ellipse cover, rgba($bot_color, $opacity_bot) $pos_bot, rgba($mid_color, $opacity_mid) $pos_mid, rgba($top_color, $opacity_top) $pos_top); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at $pos_rad, rgba($bot_color, $opacity_bot) $pos_bot, rgba($mid_color, $opacity_mid) $pos_mid, rgba($top_color, $opacity_top) $pos_top); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top_color', endColorstr='$bottom_color',GradientType=1 ); /* IE6-9 */
}
@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.text_center {
    text-align: center;
}
.text_right {
    text-align: right;
}
.text_justify {
    text-align: justify;
}
.text_nowrap {
    white-space: nowrap;
}
.bold, strong {
    font-weight: bold;
}
.block {
    display: block;
}
.relative {
    position: relative;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
//--------------------------------------------------------------------------------
//VARIABLES
//--------------------------------------------------------------------------------
$link_color       : #444;
$link_hover_color : #777;
$grey             : #A1A1A1;
$grid_col         : 12;       //JUMLAH GRID KOLOM
$grid_gap         : 15px;     //JARAK ANTAR GRID

// NUANSA WARNA / KULER
$kuler1           : #777;
$kuler2           : #555;
$kuler3           : #333;
$kuler4           : #4A4A4A;


body {
    margin: 0;
    line-height: 1.25;
    font-size: 12px;
    font-family: Arial, Helvetica, Tahoma;
}
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}
%_alpha {
  @include opacity(0.75);
}
%_alpha1 {
  @include opacity(1);
}
%_overlay {
  @include linear-gradient(#000000, 0, 0%, #000000, 0.7, 60%);
}
%_kuler1_color {
  color: $kuler1;
}
%_kuler2_color {
  color: $kuler2;
}
%_kuler3_color {
  color: $kuler3;
}
%_kuler4_color {
  color: $kuler4;
}

.clearfix {
  @include clearfix;
}
%_all_transition {
  @include transition(all 200ms linear 0s);
}
a {
    text-decoration: none;
    color: $link_color;
    @extend %_all_transition;
    &:hover {
        @extend %_alpha;
        color: $link_hover_color;
    }
}
hr {
    border-style: solid none none;
    border-color: #d4d4d4;
    margin: 15px 0;
    &.blue {
        border-width: 4px;
        border-color: $kuler2;
    }
}
p {
    margin: {
        top: 0;
        bottom: 20px;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
header, footer, table {
    display: table;
    width: 100%;
}
article {
    position: relative;
}
iframe {
    .ratiobox_content & {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
header, footer, .table {
    display: table;
    width: 100%;
}

// LIST ORDER
ol, ul {
    padding: 0 0 0 25px;
    margin: {
        top: 14px;
        bottom: 14px;
    }
    margin-bottom: 14px;
    ol, ul {
        margin: {
            top: 7px;
            bottom: 0;
        }
    }
    li {
        padding: 5px 0;
    }
}

// IMAGE
img {
    vertical-align: middle;
    .full_width & {
        width: 100%;
    }
}
.ratiobox.ratio_16_9:after {
  padding-top: 56.25%;
}

.ratiobox.ratio_4_3:after {
  padding-top: 75%;
}

.ratiobox.ratio_3_4:after {
  padding-top: 133%;
}

.ratiobox.ratio_9_16:after {
    padding-top: 178%;
}
.ratiobox {
  display: block;
  position: relative;
  overflow: hidden;
}

.ratiobox:after {
  content: "";
  display: block;
  padding-top: 100%;
  overflow: hidden;
}

.ratiobox_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
}

// NEW LIQUID PROPERTY
  .box_img{
    display: inline-block;
    position:  relative;
    width: 400px;
    &:before{
      content: "";
      display: block;
      padding-top: 100%; /* initial ratio of 1:1*/
    }
  }

  .ratiobox_content{
    /* Positioning */
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /* Styling */
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    background-size:cover !important;
    background-position: center top;

  }
  .ratiobox_content img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
  }
  .ratiobox_content span{
    font-weight: bold;
    font-size: 3em;
    display: block;
  }
  .lqd_img {
    width: 150%;
    height:150%;
    background-size:cover;
    filter: blur(10px);
      -webkit-filter: blur(10px);
      position: absolute;
      top: -25%;
      left:-25%;
      z-index:0;
  }

  @each $value in $value_list {
    .pd#{nth($value, 1)} {
        padding: nth($value, 2); 
    }
    .pr#{nth($value, 1)} {
        padding-right: nth($value, 2);
    }
    .pl#{nth($value, 1)} {
        padding-left: nth($value, 2);
    }
    .pt#{nth($value, 1)} {
        padding-top: nth($value, 2);
    }
    .pb#{nth($value, 1)} {
        padding-bottom: nth($value, 2);
    }
    .mb#{nth($value, 1)} {
        margin-bottom: nth($value, 2); 
    }
    .mr#{nth($value, 1)} {
        margin-right: nth($value, 2); 
    }
    .ml#{nth($value, 1)} {
        margin-left: nth($value, 2); 
    }
    .mt#{nth($value, 1)} {
        margin-top: nth($value, 2); 
    }
    .m#{nth($value, 1)} {
        margin: nth($value, 2); 
    }
}