@media only screen and (max-width: 1024px) {
  .content .menu-footer-area-left .search-area input[type=text]{
  	width:180px;
  	&:focus {
  		width:230px;
  	}
  }
}
@media only screen and (max-width: 767px) {
	.content{
		width: 100%;
		 .content-area{
			left:-200%;
			width:100%;
			min-width: 100%;
			&-inside{
				min-width: 100%;
				.inside-other{
					min-width: 100%;	
				}
			}
		}
		.close-content-area{
			right:0;
			z-index: 10;
		}
		.menu-footer-area{
			&-left{ 
				width:100%; 
				.filter-btn, .tools-btn{
					width:calc(50% - 5px);
					float: left;
					margin: 0;
				}
				.tools-btn{
					margin-left: 10px;
					display: inline-block;
				}
			}
			z-index: 6;
			padding:10px;
			.search-area{
				float:unset;
				margin:10px 0;
				input[type=text]{
					width:100%;
					border: 1px #929292 solid;
					&:focus{
						width: 100%;
					}
				}
			}
			.mobile-menu-area{
				position: absolute;
				left: 200%;
				bottom:60px;
				width: 100%;
				height: 300px;
				background:#fff;
				z-index: 10;
				padding:20px 15px 15px; 
				.menu-footer-area-right{
					width:100%;

					.chosen-container{ 
						width: 100% !important;
						cursor: pointer;
						margin:15px 0 0;
						.chosen-drop {
						    width:100%;
			    			left:0;
						}
					}


					// .custom-select{
					// 	width:100%;
					// 	margin:10px 0;
					// 	.select-items{
					// 		width: 100%;
					// 		left:0;
					// 	}
					// }
				}
				#search-area-mobile{

					.close-tools{
						display: block;
						right: -15px;
    					top: -20px;
						span{
							display: block;
						}
					}
					h2{
				    font-weight: bold;
				    font-size: 1.5em;
				    border-bottom: solid 2px #ff6602;
				    padding-bottom: 10px;
				    margin-bottom: 15px;
				    display: block;
				    }
				}
			}
		}
		.filter-area{
			width:100%;
		}
	}
	.button-left-area{
		left: calc(100% / 2 - 50px);
    	top: 20%;
    	&-other{
    		width: 50px;
		    height: 77px;
		    left: calc(100% / 2 - 25px);
		    top: 21%;
    	}
	}
	.active-left{
		left:0 !important;
	}
}