@import "normalize";
#map {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
html, body {
	font-size:14px;
	font-family: 'Nunito', sans-serif;
	color: #4A4A4A;
	height: 100%;
	margin: 0;
	padding: 0;
}
// S:SAMPLE ITEM ON MAP CLICK AREA
.button-left-area{
	position: absolute;
	cursor: pointer;
	left:50%;
	top:50%;
	z-index: 5;
	width: 100px;
	height: 100px;
	background-color: rgba(green, 0.4);
	display: inline-block;
	&-other{
		position: absolute;
		cursor: pointer;
		display: inline-block;		
		z-index: 6;
		background-color: rgba(red, 0.4);
		width: 80px;
		height: 80px;
		left: 50.5%;
    	top: 50.8%;
	}
}
// E:SAMPLE ITEM ON MAP CLICK AREA

.container{
	position: relative;
}
.content{
	position: relative;
	// min-height: 100vh;
	.head-logo-area{
		position: fixed;
		top:0;
		left:0;
		width:auto;
		display: inline-block;
		z-index: 1;
		img{
			position: relative;
			top:10px;
			left:10px;
			height:52px;
		}
	}
	.content-area{
		position: fixed;
		left: -100%;
		top: 0;
		width: 30%;
		min-width: 500px;
		right:0;
		background:rgba(#fff, 0.8);
		height: calc(100vh - 60px);
		z-index: 7;
		// -webkit-box-shadow:5px 0 8px -2px #dadada;
        // box-shadow: 5px 0 8px -2px #dadada;
		@include box-sizing(border-box);

		&-inside{
			width: 100%;
			min-width: 500px;
			background-color: rgba(#fff, 0.7);
			height: calc(100vh - 60px);
			overflow: scroll;
			padding:15px;
			.image-top{
				width: 106%;
				margin:-15px -15px 15px -15px;
				&.image-top-2{
					height: 100px;
				}
			}
			.content-text-area{
				width: 100%;
				min-width: 500px;
				background-color: rgba(#fff, 1);
				height: calc(100vh - 60px);
				overflow: scroll;
				padding:0;
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				h3{ 
					border-bottom: solid 1px #FF6602; 
					padding-bottom: 10px;
				}
				ul{
					margin:0;
					padding:0;
					li{
						list-style:none;
						padding:15px;
						font-size:1.1em;
						line-height: 150%;
						span{
							font-weight:bold;
							color:#000;
							display: inline-block;
							margin-right: 10px;
						}
						&:nth-child(odd){
							background: #DAE7FF;
						}
						.table-info{

						}
					}
				}
				center{
					margin:10px 0 15px;
					span {
						display: inline-block;
						color:#fff;
						cursor: pointer;
					    padding: 8px 0;
					    border-radius: 10px;
					    background: red;
					    font-size: 1em;
					    text-align: center;
					    width: 120px;
					    text-transform: uppercase;
					    @extend %_all_transition;
					    &:hover{
							opacity:0.7;
					    }
					}
				}
			}
		}
	}
.close-content-area{
	position: absolute;
    top: 0;
    right: -42px;
	background:red;
	border-color: red;
    color:#fff;
    font-size: 35px;
    /* width: 34px; */
    height: 40px; 
    text-align: -webkit-center;
    padding: 0px 10px;
    cursor: pointer;
    @extend %_all_transition;
	span{
		transform: rotate(45deg);
		display: inline-block;
		position: relative;
		top: -4px;
	}
	&:hover{
	    background: rgba(#eee, 0.8);
	    border: solid 1px #eee;
		color: #4a4a4a;
	}
}

.inside-other, .filter-area{

	h2{
		font-weight: bold;
		font-size:1.5em;
		border-bottom:solid 2px $color;
		padding-bottom:10px;
		margin-bottom:15px;
	}

	span{
		display: block;
		margin-bottom: 10px;
		&.cta-title{
			font-size:1.3em;
			font-weight:bold;
		}
		&.cta-info{
			font-size:1.1em;
			margin-bottom:15px;
		}
		a{
			color:#295cda;
		}
		i{
			font-size: 0.9em;
			color:rgba(#4a4a4a, 0.8);
			display: inline-block;
			padding:6px 0 0 32px;
		}
		.container{
			margin-bottom:25px;
			display: block;
		}
		.container input {
		  position: absolute;
		  opacity: 0;
		  cursor: pointer;
		  height: 0;
		  width: 0;
		}
		.rdtr-chk {
		  position: absolute;
		  top: 0;
		  left: 0;
		  height: 25px;
		  width: 25px;
		  background-color: #eee;
		  margin-right:10px;
		}

		.container:hover input ~ .rdtr-chk {
		  background-color: #ccc;
		}

		.container input:checked ~ .rdtr-chk {
		  background-color: #FF6602;
		}

		.rdtr-chk:after {
		  content: "";
		  position: absolute;
		  display: none;
		}

		.container input:checked ~ .rdtr-chk:after {
		  display: block;
		}

		.container .rdtr-chk:after {
		  left: 9px;
		  top: 5px;
		  width: 5px;
		  height: 10px;
		  border: solid white;
		  border-width: 0 3px 3px 0;
		  -webkit-transform: rotate(45deg);
		  -ms-transform: rotate(45deg);
		  transform: rotate(45deg);
		}
	}


	.rs-range {
	    margin-top: 5px;
	    width: 100%;
	    -webkit-appearance: none;
	    &:focus {
	        outline: none;
	    }
	    &::-webkit-slider-runnable-track {
	        width: 100%;
	        height: 3px;
	        cursor: pointer;
	        box-shadow: none;
	        background: #FF6602;
	        border-radius: 0px;
	        border: 0px solid #010101;
	    }
	    &::-moz-range-track {
	        width: 100%;
	        height: 1px;
	        cursor: pointer;
	        box-shadow: none;
	        background: #FF6602;
	        border-radius: 0px;
	        border: 0px solid #010101;
	    }
	  
	    &::-webkit-slider-thumb {
	        box-shadow: none;
	        border: 0px solid #FF6602;
	        box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
	        height: 20px;
	        width: 20px;
	        border-radius: 100%;
	        background: rgba(#FF6602,1);
	        cursor: pointer;
	        -webkit-appearance: none;
	        margin-top: -10px;
	    }
	  &::-moz-range-thumb{
	        box-shadow: none;
	        border: 0px solid #FF6602;
	        box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
	        height: 20px;
	        width: 22px;
	        border-radius: 100%;
	        background: rgba(#FF6602,1);
	        cursor: pointer;
	        -webkit-appearance: none;
	        margin-top: -10px;
	  }
	  &::-moz-focus-outer {
	    border: 0;
	    }
	}

	.gallery-area{
		a{
			display: inline-block;
			float: left;
			width:calc(100% / 2 - 10px);
			height: auto;
			cursor: pointer;
			&:nth-child(odd){
				margin-right:15px;
			}		
		}
		.ratiobox{
			width:100%;
		}
	}
}

.filter-area{
	position: fixed;
    bottom:60px;
    height: 328px;
    left: -100%;
    width: 300px;
    z-index: 7;
	background:rgba(#fff, 0.96);
	-webkit-box-shadow:5px 0 8px -2px #dadada;
    box-shadow: 5px 0 8px -2px #dadada;
    padding:15px 20px; 
}

.menu-footer-area{
		background:rgba(#FF6602,0.5);
		width: 100%;
		height: 60px;
		display: block;
		position: fixed;
		padding:10px 15px;
		bottom:0;
		left:0;
		z-index: 5;
		@include box-sizing(border-box);
		&-left{
			float:left;
			position: relative;
			.filter-btn, .tools-btn{
				cursor:pointer;
				padding:9px 0 10px;
				border-radius: 10px;
				background:#fff;
				font-size: 1em;
				float:left;
				text-align: center;
				width: 120px;
				margin-right: 10px;
				font-weight: bold;
				@extend %_all_transition;
				&:hover{
					background:#ff6200;
					color: #fff;
				}
			}
			
		}
		#search-desktop{
			float:left;
		}
		#search-area-mobile{
			h2, span{ display:none; }
		}
		.tools-btn{ display:none;}
		.search-area{
				float: left;
				position: relative;
				input[type=text] {
				  @extend %_all_transition;
				  width:200px;
				  border-radius: 10px;
				  border:1px #ededed solid;
				  padding:7px 6px 8px 42px;
				  background-image: url(../images/searchicon.png);
				  background-position: 6px 6px;
				  background-repeat: no-repeat;
				  color: #4A4A4A;
				}

				input[type=text]:focus {
				  width: 450px;
				  background-image: url(../images/searchicon.png);
				  background-position: 6px 6px;
				  background-repeat: no-repeat;

				}
				button{
					width: 32px;
    				height: 34px;
					position: absolute;
					top:0;
					left:0;
					border:none;
					opacity:0;
				}
		}
		&-right{
			float:right;
			position: relative;
			width: 50%;
			.chosen-container{ 
				width: calc(100% / 3 - 10px) !important;
				.chosen-drop {
				    bottom: 100%;
				    top: unset;
				    border-radius: 4px 4px 0 0;
				    width: 200px;
	    			left: calc(100% / 2 - 100px);
				}
			}
		}
	}
}

/*MODAL STYLE*/
.modal_box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 103;
    opacity: 0;
    transition: opacity 0.3s ease-out 0s;
}
.modal_box.anim .modal_dialog {
    transition: transform 0.3s ease-out 0s;
    transform: translate(0, 0);
}
.modal_dialog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px auto;
    width: auto;
    max-width: 800px;
    transition: transform 0.3s ease-out 0s;
    transform: translate(0, 50px);
    height: 100%;
    min-height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}
.modal_content {
    padding: 15px;
    background: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    border-radius: 4px;
    width: 400px;
    min-height: 100px;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(0.75);
}
.modal_content.loaded {
    width: 100%;
    max-height: 100%;
    transform: scale(1);
}
.modal_body {
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}
.loaded .modal_body {
    opacity: 1;
}
.modal_close {
    display: block;
    position: absolute;
    top: -22px;
    right: 0px;
    background: rgba(255,255,255,1);
    color: #4a4a4a;
    font-size: 15px;
    height: 28px;
    /* border: solid 1px #eee; */
    text-align: -webkit-center;
    padding: 5px 10px;
    cursor: pointer;
    &:hover{ background:red; color:#fff; }
}
.loaded .modal_close {
    opacity: 1;
}
.modal_overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    transition: opacity 0.3s ease-out 0s;
    z-index: 9;
}
.modal_open {
    overflow: hidden;
}
.modal_open .modal_box {
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal_open .modal_overlay {
    opacity: 0.5;
}
.lds-ring {
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    width: 40px;
    height: 40px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 7px solid #3A73E0;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3A73E0 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.active-left{
	@extend %_all_transition;
	left:0 !important;
}

// MAP STYLE TES
      


@import "map";
@import "responsive";